
/*
** HTML elements
*/
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #C52A20;
}
a:visited {
  color: #671611;
}
a:hover {
  color: #C52A20;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/*
** Page layout blocks / IDs
*/
* {
  margin: 0;
  padding: 0;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}
body {
	background-color: #fff;
}

ul.links li {
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin: 0;
	padding: 2px;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #4F4F4F;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
/*  padding: 0 0 1.5em 0; */
}
.block {
  border-bottom: 1px solid #bbb;
/*  padding-bottom: 0.75em;
  margin-bottom: 1.5em; */
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #C44A63;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}



html.js .resizable-textarea textarea {
	width: auto;
}

.resizable-textarea {
	width:auto;
}


#event-taxonomy-filter-form {
	width: 25%;
	min-width: 210px;
	float: left;
}

#center form#event-taxonomy-filter-form, #center form#event-type-filter-form {
	margin-bottom: 0pt;
}

ul.links {
/*	clear: both; */
}

.panel-col-last .block ul { padding: 0px }

/* for tinyMCE */
body.mceContentBody {
  background: #fff;
  color: #000;
  text-align: left;
}

.content ol, .content ul {
	margin-left:1.5em;
}

.content ol {
	padding:0pt 0pt 0.2em 1.5em;
	
}
.content .item-list ul, .content ul.menu, .content ol.menu {
	margin: 0pt;
	padding: 0pt;
}

.content .tabs ul li, .links ul.links li{
	background: none;
	padding: 0 .25em 0 0;
	margin: none;
}

#user-login-form .item-list li {
	background: none;
	margin: 0;
	padding: 0;
}

.content ul li, .item-list ul li, li.leaf, .mceContentBody ul li {
	background:transparent url(images/menu-leaf.gif) no-repeat scroll 1px 0.35em;
	list-style-image:none;
	list-style-type:none;
	padding:0pt 0pt 0.2em 1.5em;
}

.node-form .standard {
	clear: none;
}

#head {
	width: 100%;
	margin: 0px;
	background-color: #2157B5;
	border-bottom: #153772 1px solid;
}

#head a {
	color: black;
}

#head #navlist a.active {
	background-color: white;
	color: black;
	font-weight: bold;
	border-left: #153772 1px solid;
	border-right: #153772 1px solid;
	border-top: #153772 1px solid;
}

#head #navlist {
  font-size: 1.0em;
  color: #9cf;
	padding: 5px 5px 5px 100px;
	margin: 0pt auto;
	text-align: left;
}
#head #navlist a {
  font-weight: normal;
  color: #fff;
}

#head ul.links#navlist li {
}

#head ul.links#navlist li a {
	padding: 5px;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #E0563A;
}
#subnavlist a {
  font-weight: normal;
  color: #E0563A;
}
#subnavlist a.active {
  font-weight: bold;
  color: #E0563A;
}

#content {
	margin: 1em 200px;
}

#sidebar_left {
	float: left;
	width: 180px;
	padding: 5px;
}

#sidebar_right {
	float:right;
	width: 180px;
	padding: 5px;
}

#head h1.site-name a {
	font-size: 18px;
	padding-left: .25em;
	color: white;
}